html, body {
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#app {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 8px;
}


h1 {
    margin: 8px 0;
}

ul {
    list-style: none;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    border-radius: 5px 2px;
    margin: 8px 0;
}
