html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#app {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 15px;
}

#app div {
    width: 100%;
}

#app div div {
    position: relative;
    width: 405px;
    margin: 0 auto;
}

#app div div div {
    position: relative;
    height: auto;
}

h1, h2 {
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: left;
    margin: 20px 0;
}

span {
    position: absolute;
    left: 110px;
}

button {
    margin: 20px;
    padding: 7px 35px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

label {
    display: block;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

button {
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
    background-color: #F4595B;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
}

button:hover {
    background-color: #FF7375;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
}

button:active {
    background-color: #C24648;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: #CCC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
}
